<div class="d-flex flex-column">
  <div class="d-flex mb-4 flex-row">
    <h4 class="d-inline-block">Feedback</h4>    
    <div class="ml-auto w-50">
  <form method="get" action="/feedback">
    {{> search}}
  </form>
</div>
  </div>
  <div>
    <table class="table d-block">
      <thead class="w-100 d-table">
        <tr>
          <th scope="col">Candidate</th>
          <th scope="col">Position</th>
          <th scope="col">Level 1 Status</th>
          <th scope="col">Level 2 Status</th>
          <th scope="col">HR Status</th>
          <th scope="col">Levels</th>
        </tr>
      </thead>
      <tbody class="w-100 d-table">
        {{#if result}}
        {{#each result}}
          <tr>
              <td style="width: 15%;">{{name this}}</td>
              <td style="width: 15%;">{{position_applied this}}</td>
              <td style="width: 15%;">{{level_status this 'l1_feedback' }}</td>
              <td style="width: 15%;">{{level_status this 'l2_feedback' }}</td>
              <td style="width: 15%;">{{level_status this 'hr_feedback' }}</td>
              <td align="right" style="width: 20%;">                  
                  <a href="/feedback/l1/{{id this}}" type="button" class="btn text-white btn-sm rounded-0 a-btn-slide-text {{feedbackLabelColor this 'l1'}}">L1</a>
                 
                  {{#level_status_value this 'l1_feedback' 'l2' 'l2_feedback'}}                  
                  {{/level_status_value}}
                  
                  <span>
                    {{#level_status_value this 'l2_feedback' 'hr' 'hr_feedback'}}                  
                  {{/level_status_value}}
                  </span>
                  </td>           
          </tr>
        {{/each}}
        {{else}}
        <tr>
              <td colspan="6" align="center">No record found.</td>                         
          </tr>
        {{/if}}
      </tbody>
    </table>
   {{> pagination}}
  </div>
</div>